*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
}

.link{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  &:hover{
    background-color: white;
    color: black;
  }
}


.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo{
  background-image: url(/src/assets/peakpx.jpg);
}

header {
  height: 0px;
  background-color: rgba(193, 251, 254, 0.364);

}

header .contenedor .contenedor-texto .texto h1{
  margin-top: 70px;
  color: rgb(135, 63, 63);
  font-weight: 700;
  font-size: 25px;
}

.main .contenedor .contenedor-inputs{
  border-radius: 10px;
  border: 2px solid rgb(158, 158, 234);
  background-color: rgb(95, 95, 95);
  width:20%;
  min-height: 500px;
  margin:auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.main .contenedor .contenedor-inputs h3{
  margin-top: -200px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style:normal;

}


.main .contenedor .contenedor-inputs input{
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.main .contenedor .contenedor-inputs input[type="text"],
.main .contenedor .contenedor-inputs textarea{
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    color: #000000;
    background-color: rgb(158, 158, 234);
    outline: none;
    margin-bottom: 20px;
    font-weight:bold;
    
  }

  .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      /* background: rgba(24, 20, 20, 0.987); */
      background: rgba(52, 52, 52, 0.966);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      border:1px solid #a977de;
    }
    
    .login-box .user-box {
      position: relative;
    }
    
    .login-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #a977de;
      outline: none;
      background: transparent;
    }
    
    .login-box .user-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #ffffff;
      pointer-events: none;
      transition: .5s;
    }
    
    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #a977de;
      font-size: 12px;
    }
    
    .login-box form button {
      background-color: transparent;
      border: none;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px
    }
    
    .login-box button:hover {
      background: #a977de;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #a977de,
                  0 0 25px #a977de,
                  0 0 50px #a977de,
                  0 0 100px #a977de;
      cursor: pointer;
    }
    
    .login-box button span {
      position: absolute;
      display: block;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    .login-box button span:nth-child(1) {
      bottom: 2px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #a977de);
      animation: btn-anim1 2s linear infinite;
    }

.logout{
  position: absolute;
  right: 20px;
  color: #fff;
  background-color: #000000;
  padding: 10px;
  border: 2px solid #a977de ;
  border-radius: 10px;
  transition: all 0.5s;
}

.logout:hover{
  box-shadow: 0px 0px 30px 1px rgba(255, 57, 222, 0.3);
  background-color: red;
  border: 2px solid #fff ;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}

.form {
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

.card {
  background-image: linear-gradient(163deg, #3700ff 0%, #a977de 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(170, 0, 255, 0.4);
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 2.0em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  border: 3px solid #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  border: 3px solid  #a977de;
  color: white;
  border-color: linear-gradient(163deg, #3700ff 0%,#a977de 100%);
}

