*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



.link{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  &:hover{
    background-color: white;
    color: black;
  }
}


.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo{
  background-image: url(/src/assets/peakpx.jpg);
}

header {
  height: 0px;
  background-color: rgba(193, 251, 254, 0.364);

}

header .contenedor .contenedor-texto .texto h1{
  margin-top: 70px;
  color: rgb(135, 63, 63);
  font-weight: 700;
  font-size: 25px;
}
  


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}

.form {
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}






.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.inputicon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.inputfield {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  border: 3px solid #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  border: 3px solid  #a977de;
  color: white;
  border-color: linear-gradient(163deg, #3700ff 0%,#a977de 100%);
}

